.navigation {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.black-square {
  width: 72px;
  height: 72px;
  background-color: #1d1d1d;
  position: absolute;
  top: 0px;
  left: 64px;
  z-index: 300;
}

.red-square {
  width: 72px;
  height: 72px;
  background-color: #e90101;
  position: absolute;
  left: 64px;
  transition-duration: 0.5s;
  z-index: 200;
}

.red-circle {
  width: 72px;
  height: 72px;
  border-radius: 100px;
  background-color: #e90101;
  position: absolute;
  left: 64px;
  transition-duration: 0.5s;
  z-index: 200;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 72px;
  left: 64px;
  z-index: 300;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 100px;
  font-size: 14px;
  color: #a1a1a1;
  cursor: pointer;
  transition-duration: 0.2s;
}

.menu:hover,
.menu-selected {
  color: #f5f5f5;
}

.main-content {
  max-width: 1340px;
  min-height: 100vh;
  margin-left: 260px;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
